.btn-delete, .btn-default{
    float: right;
    padding: 5px 10px;
    border-radius: 50% ;
}
.details-form{
}
.details-form .form-group{
    margin: 5px 10px 0;
}
.list-item span{
    font-size: 20px;
    font-weight: bolder;
}